@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application provides a UI front to get various statistics and observations obtained by performing sentiment analysis on Amazon food Reviews</p>
